body {
  margin: 0;
  height: 100vh;
}
:root {
  --sidePaddings: 2rem;
  --middleGap: 4rem;
}
body * {
  border: 0.1px solid red;
}
button {
  background: inherit;
}
svg {
  width: 2rem;
  height: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
/*Spaces weather infos*/
.current {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--sidePaddings);
  gap: var(--middleGap);
}
.daily {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(2, 1fr);
}
.dayContainer {
  width: 150px;
}
/* Search area and SVG */
.leftArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60vw;
}
.weatherSummary {
  display: flex;
  flex-direction: column;
}
/* centers SVG */
.searchArea {
  display: flex;
  align-items: center;
}
.go {
  width: 2rem;
  height: 2rem;
}

/* Right side divs */
.currentWeather > * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.rain1hCont,
.snow1hCont,
.currentSvg {
  display: none;
}
